name: ci
on:
  push:
    paths-ignore:
      - 'README.md'
    branches:
      - '**'

jobs:
  buildx:
    runs-on: self-hosted
    timeout-minutes: 4320
    # runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space
        uses: ShubhamTatvamasi/free-disk-space-action@master

      - name: Checkout
        uses: actions/checkout@v6

      - name: Get Version
        id: get_version
        uses: dhkatz/get-version-action@v3.0.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - name: Prepare local cache directory
        run: mkdir -p /tmp/runner/docker-cache

      - name: Build shiny
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/arm/v7,linux/arm64,linux/amd64
          target: shiny
          cache-from: type=local,src=/tmp/runner/docker-cache
          cache-to: type=local,dest=/tmp/runner/docker-cache,mode=max
          # cache-from: type=gha
          # cache-to: type=gha,mode=max

      - name: Build shiny with devtools
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/arm/v7,linux/arm64,linux/amd64
          target: shiny-with-devtools
          cache-from: type=local,src=/tmp/runner/docker-cache
          cache-to: type=local,dest=/tmp/runner/docker-cache,mode=max
          # cache-from: type=gha
          # cache-to: type=gha,mode=max
