name: buildx

on:
  push:
    branches: master

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          buildx-version: latest
          qemu-version: latest
      -
        name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      - 
        name: Login DockerHub
        run: echo "${{ secrets.DockerHubPwd }}" | docker login -u "${{ secrets.DockerHubUname }}" --password-stdin
      -
        name: Run Buildx
        run: |
          docker buildx build --push \
          --tag hvalev/rpi-shiny-server:latest \
          --platform linux/arm/v6,linux/arm/v7,linux/arm64 .
      - 
        name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v2.1.0
        env:
           DOCKERHUB_USERNAME: ${{ secrets.DockerHubUname }}
           DOCKERHUB_PASSWORD: ${{ secrets.DockerHubPwd }}
           DOCKERHUB_REPOSITORY: hvalev/rpi-shiny-server      
